name: Deploy PocketBase

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |            
            rm -rf /var/www/vhosts/pocketest.ferter.es/httpdocs
            git clone git@github.com:ferter3006/pocketest.git /var/www/vhosts/pocketest.ferter.es/httpdocs
            cd /var/www/vhosts/pocketest.ferter.es/httpdocs
            /usr/bin/go build -o /opt/pocketbase/pocketbase main.go
            sudo systemctl restart pocketbase
